// Colors (http://chir.ag/projects/name-that-color/)
$armadillo: #494537;
$broom: #FCEE21;
$inchworm: #B1E319;
$jambalaya: #603813;
$mauve: #f8acff;
$mineshaft: #262626;
$red: #FF0019;
$tussock: #C6833F;
$white: #FFFFFF;

// Fonts
$montserrat: 'Montserrat', sans-serif;
$lora: 'Lora', serif;

// Mixins
// ...
