// Sass import
$base_dir: './';
@import "_variables.scss";
@import "_animations.scss";



/* =============================================================================
   BASE: =Base
   ========================================================================== */

::selection {
	background: $red;

	color: $white;
    text-shadow: none;
}

html, body {
    position: relative;
    width: 100%;
}

body {
    overflow-x: hidden;
    overflow-y: scroll;

    background: $broom;

	color: $armadillo;
    font: 18px/1.5 $lora;
}

* {
    outline: none;
	box-sizing: border-box;
}

.wrk {
    position: absolute;
    bottom: 30px;
    right: 30px;

    z-index: 10;

    .logo {
        width: 30px;
        height: auto;

        opacity: 0.3;
        transition: opacity 0.1s;
    }

    a:hover {
        .logo {
            opacity: 0.75;
        }
    }
}

.scroll-reveal {
    opacity: 0;

    &.is-revealed {
        opacity: 1;
    }
}



/* =============================================================================
   SECTION: =Hero
   ========================================================================== */

.hero {
    display: flex;
    position: relative;
    width: 100%;
    height: calc( 100vh - 100px );

    align-items: center;
    flex-direction: column;
    justify-content: center;

    .title {
        margin: 30px 0 0;

        order: 2;

        font: 700 46px/0.87 $montserrat;

        span {
            display: block;
        }

        b {
            color: $red;
        }

        small {
            display: block;
            margin: 12px 0 0;

            font: 400 13px $lora;

            &:before {
                display: inline-block;
                margin: 0 5px 0 0;
                width: 11px;
                height: 1px;

                background: $armadillo;
                content: '';

                vertical-align: middle;
            }
        }
    }

    .illustration {
        position: relative;
        width: 300px;
        height: 270px;

        order: 1;
    }

    .lottie-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 434px;

        svg {
            display: block;
        }
    }

    .link-scroll {
        position: absolute;
        right: 100px;
        bottom: 50px;

        color: $armadillo;
        font: 700 16px/1 $montserrat;
        text-decoration: none;

        .dots {
            display: block;
            margin: 0 0 10px;
        }

        .dot {
            display: block;
            margin: 0 auto 6px;
            width: 6px;
            height: 6px;

            background: $armadillo;
            border-radius: 50%;
            transition: background 0.2s ease;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .text {
            display: block;
        }

        &:hover {
            // color: $red;

            .dot {
                animation: scroll-dots 0.5s ease-in-out 0s infinite;
                background: $red;

                &:nth-child(2) {
                    animation-delay: 0.1s;
                }

                &:nth-child(3) {
                    animation-delay: 0.2s;
                }
            }
        }
    }
}



/* =============================================================================
   SECTION: =Quote
   ========================================================================== */

.section-quote {
    position: relative;
    height: 940px;

    animation: background-wave 15s linear infinite;
    background-image: url('../img/section-background.svg');
    background-position: 50%;
    background-repeat: repeat-x;
    background-size: 1920px 940px;
    z-index: 2;

    .inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .content {
        display: flex;
        height: 100%;

        align-items: center;
        flex-direction: row;
        justify-content: center;
    }

    .illustration {
        margin: 0 10px 50px 0;
        width: 280px;
        height: 280px;

        animation: illustration-wave 2s linear 0s infinite normal forwards;
        background-color: $tussock;
        background-image: url('../img/burger-shape.svg');
        background-position: -100px 50%;
        background-size: 860px 322px;
        border-radius: 50%;
        transform: rotateZ(135deg);
    }


    blockquote {
        padding: 0;
        position: relative;
        width: 900px;

        font: 700 208px/0.84 $montserrat;
        text-transform: lowercase;

        .mark {
            display: block;
            position: absolute;
            width: 112px;
            height: 89px;

            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            content: '';

            &.top {
                top: -70px;
                left: -120px;

                background-image: url('../img/quote-left.svg');
            }

            &.bottom {
                bottom: 45px;
                right: 50px;

                background-image: url('../img/quote-right.svg');
            }
        }

        small {
            display: block;
            margin: 60px 0 0;

            font: 400 28px $lora;

            &:before {
                display: inline-block;
                margin: 0 25px 0 15px;
                width: 57px;
                height: 1px;

                background: $armadillo;
                content: '';

                vertical-align: middle;
            }
        }
    }
}



/* =============================================================================
   SECTION: =Features
   ========================================================================== */

.section-features {
    padding: 100px 0;
    position: relative;

    .features {
        position: relative;

        z-index: 2;
    }

    .feature {
        display: flex;
        margin: 0 auto;
        padding: 140px 0;
        max-width: 740px;

        align-items: center;
        flex-direction: row;
        justify-content: space-between;

        &:nth-child(2n) {
            .illustration {
                order: 3;
            }
        }

        &:nth-child(1) {
            .illustration {
                width: 322px;
                height: 308px;
            }

            .lottie-container {
                bottom: 0;
                left: 0;
                width: 322px;
                height: 362px;
            }

            .picture {
                position: absolute;
                top: 54px;
                left: 229px;
                width: 66px;
                height: 66px;

                opacity: 0;
                overflow: hidden;
                transition: opacity 0.07s;

                &:before {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100px;
                    height: 100px;

                    animation: picture-wave 1.25s linear 0s infinite normal forwards;
                    background-color: $tussock;
                    background-image: url('../img/burger-shape.svg');
                    background-position: -100px 50%;
                    background-size: 323px 121px;
                    content: '';
                    transform: translate3d(-50%, -50%, 0) rotateZ(135deg);
                }

                &.is-visible {
                    opacity: 1;
                }
            }

            .switch {
                position: absolute;
                top: 237px;
                left: 135px;
                width: 40px;
                height: 40px;

                cursor: pointer;
                opacity: 0;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        &:nth-child(2) {
            .illustration {
                width: 346px;
                height: 490px;
            }

            .lottie-container {
                bottom: 0;
                left: 0;
                width: 346px;
                height: 568px;
            }
        }

        &:nth-child(3) {
            .illustration {
                width: 300px;
                height: 188px;
            }

            .lottie-container {
                bottom: -80px;
                left: -125px;
                width: 581px;
                height: 347px;
            }
        }
    }

    .illustration {
        position: relative;

        order: 1;
    }

    .lottie-container {
        position: absolute;
    }

    .content {
        max-width: 312px;

        order: 2;
    }

    .title {
        margin: 0 0 0.5em;

        font: 700 62px/1 $montserrat;
        white-space: nowrap;
    }

    .shapes {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        z-index: 1;

        .shape {
            position: absolute;
            top: 50%;
            left: 50%;

            &:nth-child(1) {
                margin: -970px 0 0 -410px;
            }

            &:nth-child(2) {
                margin: -450px 0 0 310px;
            }

            &:nth-child(3) {
                margin: 330px 0 0 390px;
            }

            &:nth-child(4) {
                margin: 770px 0 0 10px;
            }
        }
    }
}



/* =============================================================================
   SECTION: =CTA
   ========================================================================== */

.section-cta {
    padding: 200px 0;
    position: relative;

    background: $mineshaft;

    color: $white;
    text-align: center;

    .content {
        position: relative;

        z-index: 2;
    }

    .title {
        font: 700 62px/1 $montserrat;
    }

    .form-group {
        display: inline-block;
        position: relative;
    }

    .form-control {
        padding: 0 160px 0 30px;
        width: 420px;
        height: 60px;

        appearance: none;
        border: 0;
        border-radius: 30px;

        font: 18px/60px $lora;
        line-height: 60px;

        &::placeholder {
            opacity: 0.5;

            color: $armadillo;
        }
    }

    .button {
        position: absolute;
        top: 0;
        right: 0;
        width: 130px;
        height: 60px;

        appearance: none;
        background: $broom;
        border: 0;
        border-radius: 30px;
        cursor: pointer;
        overflow: hidden;
        transition: background 0.1s linear 0.1s;

        color: transparent;
        font: 700 18px/60px $montserrat;

        &:before,
        &:after {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            content: attr(data-text);
            transition: transform 0.4s cubic-bezier(0.800, -0.300, 0.200, 1.300);

            color: $armadillo;
        }

        &:before {
            transition-delay: 0.1s;
        }

        &:after {
            content: '●‿●';
            transform: translate3d(0, -100%, 0);
        }

        &:hover {
            // background: $mauve;

            &:before {
                transform: translate3d(0, 100%, 0);
                transition-delay: 0s;
            }

            &:after {
                transform: translate3d(0, 0, 0);
                transition-delay: 0.1s;
            }
        }
    }

    .illustration {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 175px;
        height: 362px;

        transform: translate3d(-50%, -50%, 0);
    }

    .lottie-container {
        position: absolute;
        top: -30px;
        left: -100px;
        width: 398px;
        height: 320px;
    }

    .thank-you {
        margin: 130px 0 0;
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;

        font: 700 62px/1 $montserrat;
        text-align: center;

        .line {
            opacity: 0;
        }

        small {
            display: block;
            margin: 12px 0 0;

            font: 400 16px $lora;
        }
    }
}